<script src="https://unpkg.com/vue@3"></script>

<div id="app">
    <h1>{{ title }}</h1>

    <div class="login-container" v-if="!usuarioLogado">
        <label for="uname"><b>Usuário</b></label>
        <input type="text" placeholder="Nome de usuário" name="uname" v-model="mail">

        <label for="psw"><b>Senha</b></label>
        <input type="password" placeholder="Senha" name="psw" v-model="pass">

        <button type="button" v-on:click="login(mail, pass)">Login</button>
    </div>
    
    <div v-if="usuarioLogado">
        <h2>Olá {{ mail }}, seja bem vindo!</h2>
        <button type="button" v-on:click="logout()">Logout</button>
    </div>

</div>


<script>
    const createApp = Vue.createApp;
    createApp({
        data() {
            return {
                title: 'Página de Login',
                mail: "",
                pass: "",
                usuarioLogado: false,
            }
        },
        methods: {
            login(email, senha) {
                console.log(email);
                console.log(senha);
                if (email === 'denio' && senha === '123') {
                    this.email = email;
                    this.usuarioLogado = true;
                    this.title = 'Página de Saudação'
                }
                this.senha = "";
            },
            logout() {
                this.usuarioLogado = false;
                this.mail = "";
                this.pass = "";
                this.title = 'Página de Login';
            }
        }
    }).mount('#app')
</script>